				<div id="footer">
					<img src="{{ config.MEDIA_URL }}img/logo_footer.png" width="130" height="82" alt="Siqat" title="Siqat" class="logoFooter"/>

				    <div id="botonesFooter">
                    <ul>
			{% block footer-nav %}
                        <li class="seccionActual"><a href="/">Home</a></li>
                        <li><a href="/page/quienes-somos">Qui&eacute;nes somos</a></li>
                        <li>Servicios</li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/novedades">Novedades</a></li>
                        <li><a href="/contact">Contacto</a></li>
			{% endblock %}
                     </ul>
				    </div>

				    <div id="legales">
						<p>© 2010 Siqat.com  All rights reserved. |  <a href="#" class="linkFooter">T&eacute;rminos y Condiciones</a></p>
						<p>Siqat Ingenieria de Calidad - Hip&oacute;lito Yrigoyen 615 4 "A" - Capital Federal -(5411)4342-2662 - <a href="mailto:info@Siqat.com.ar" class="linkFooter">info@Siqat.com.ar</a></p>
				    </div>

					<div id="propaganda">
						<p>Powered by <a href="http://www.link-b.com" target="_blank" class="linkFooter">Link-b.com</a></p>
					</div>
					<br clear="all">
				</div>

