              	<div id="contSuscribete" class="cajasColDer">
                    <div class="contTituloColDer"><p class="blogTituloColDer">Suscr&iacute;bete</p></div>
                    <a href="http://www.facebook.com/pages/Siqat-Online/101582293251986" target="_blank"><img src="{{ config.MEDIA_URL }}img/suscribite_icon_facebook.png" width="29" height="29" alt="Facebook" class="imgSuscribite imgLink"/></a>
           			<a href="http://twitter.com/#!/SiqatOnline" target="_blank"><img src="{{ config.MEDIA_URL }}img/suscribite_icon_tw.png" width="29" height="29" alt="twitter" class="imgSuscribite imgLink"/></a>
                    <a href="http://www.youtube.com/SiqatOnline" target="_blank"><img src="{{ config.MEDIA_URL }}img/suscribite_icon_youtube.png" width="29" height="29" alt="twitter" class="imgSuscribite imgLink"/></a>
                    <a href="/feeds/latest/" target="_blank"><img src="{{ config.MEDIA_URL }}img/suscribite_icon_feed.png" width="29" height="29" alt="twitter" class="imgSuscribite imgLink"/></a>
                    <a href="http://www.linkedin.com/company/2047817?trk=tyah" target="_blank"><img src="{{ config.MEDIA_URL }}img/suscribite_icon_linkedin.png" width="29" height="29" alt="twitter" class="imgSuscribite imgLink"/></a>
                </div>
