{% load subscribetags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link REL="SHORTCUT ICON" HREF="{{ config.MEDIA_URL }}img/favicon.ico" />

	<title>{% block title %}ArenasMedia Title{% endblock %}</title>
	<link rel='stylesheet' type='text/css' href="{{ config.MEDIA_URL }}css/arenasmedia.css" />

	<meta name="title" lang="es" title="{% block meta-title %}ArenasMedia : PEOPLE : PASSION : PERFORMANCE{% endblock %}" />
	<meta name="keywords" lang="es" content="{% block meta-keywords %}ArenasMedia META-KEYWORDS{% endblock %}" />
	<meta name="description" lang="es" content="{% block meta-description %}ArenasMedia META-DESCRIPTION{% endblock %}">

	{% block requiered-js %}
	<script type="text/javascript" src="{{ config.MEDIA_URL }}js/jquery-1.5.1.js"></script>
	<script type="text/javascript" src="{{ config.MEDIA_URL }}js/jquery.featureCarousel.js"></script>
	{% endblock %}

	{% block extra-head %}
	<link rel='stylesheet' type='text/css' href="{{ config.MEDIA_URL }}css/galeria_home.css" />
	{% endblock %}
	
	{% block javascript %}
	{% endblock %}
</head>

<body>

<div id="sombra">
	<div id="content">

		<!-- HEADER -->
		<div id="header" >

		</div>

			{% block subheader %}
			<!-- SUBHEADER -->

			{% endblock subheader %}

			{% block main %}
			<!-- MAIN -->
			{% include '_home.html' %}
			{% endblock main %}

			<div id="footer">
			</div>
		<br clear="all">
	</div>
</div>

<script type="text/javascript">

//  var _gaq = _gaq || [];
//	_gaq.push(['_setAccount', 'UA-21038836-1']);
//  _gaq.push(['_trackPageview']);

//  (function() {
//	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
//  })();

</script>

{% if 'MSIE 6' in request.META.HTTP_USER_AGENT %}
	El browser que est&aacute; utilizando no es compatible con nuestra pagina.<br>
	Utilize un browser mas actualizado. por ejemplo :<a href="http://chrome.google.com/">http://chrome.google.com/</a>
{% endif %}

</body>
</html>
