{% if object.allow_comments %}
	{%if not object.comments_finish_date or object.comments_finish_date > now %}
	<div id="disqus_thread"></div>

	<script type="text/javascript">
		var disqus_shortname = 'siqat';
		var disqus_identifier = '{{ object.slug }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=claseejecutiva">comments powered by Disqus.</a></noscript>
	<!--a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a-->
	{% else %}
	<h5>Esta nota ha finalizado para recibir comentarios</h5>
	{% endif %}
{% endif %}
