{% extends 'base.html' %}
{% load getblog %}

{% block botonera-servicios %}
	<div id="contBotoneraServicios">
		<div id="btnCertificaciones" class="btnServiciosActual"><a href="/servicios/certificaciones#tituloSeccion"><p><span class="tituloHomeGrande">CERTIFICACIONES</span></p></a></div>
		<div id="btnLicencias"><a href="/servicios/licencias-no-automaticas#tituloSeccion"><p><span class="tituloHomeGrande">LICENCIAS</span> NO AUTOM&Aacute;TICAS</p></a></div>
		<div id="btnOtras"><a href="/servicios/otros-servicios#tituloSeccion"><p><span class="tituloHomeGrande">OTROS</span> SERVICIOS</p></a></div>
	</div>
{% endblock %}

{% block navbar %}
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/page/quienes-somos">Qui&eacute;nes somos</li>
		<li class="seccionActual">Servicios</li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/novedades">Novedades</a></li>
		<li><a href="/contact">Contacto</a></li>
	</ul>
{% endblock %}

{% block footer-nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/page/quienes-somos">Qui&eacute;nes somos</li>
    <li class="seccionActual">Servicios</li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/novedades">Novedades</a></li>
    <li><a href="/contact">Contacto</a></li>
{% endblock %}

{% block headerclass %}headerServicios{% endblock %}

{% block titulo-seccion %}Servicios{% endblock%}

{% block bottom-header %}{% endblock %}

{% block subheader %}
	<div id="contBotoneraServicios">
		<div id="btnCertificaciones"><a href="/servicios/certificaciones#tituloSeccion"><p><span class="tituloHomeGrande">CERTIFICACIONES</span></p></a></div>
		<div id="btnLicencias" class="btnServiciosActual"><a href="/servicios/licencias-no-automaticas#tituloSeccion"><p><span class="tituloHomeGrande">LICENCIAS</span> NO AUTOM&Aacute;TICAS</p></a></div>
		<div id="btnOtras"><a href="/servicios/otros-servicios#tituloSeccion"><p><span class="tituloHomeGrande">OTROS</span> SERVICIOS</p></a></div>
	</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	$(function(){
		$("#formContact").load('/contact/ #formConsultas');
	})
	{% include '_JSformularioContacto.html' %}
{% endblock javascript %}


{% block main %}

<div id="contServicios">

	{% include '_botonera_media.html' %}

    <div id="colEntServicios">

        <div id="contenidoServiciosEnt" class="contCertificaciones">
            {% get_latest_category_posts licencias-no-automaticas norecursive as certificados %}
            {% with certificados|first as certificado %}
	            {% with certificado.get_first_image as media %}
			        {% if media %}
			        <img src="{{ config.MEDIA_URL }}img/servicios_imagen_falsa.png" width="182" height="182" alt="Puzzle" class="imgServicios"/>
			        {% endif %}
	            {% endwith %}
	            <p class="serviciosTituloTexto">{{ certificado.title }}</p>
	            <p class="serviciosBajada">{{ certificado.copete }}</p>
	            <div class="blogTextoPost">
		            {{ certificado.content|safe }}
	            </div>
				<script>$(function(){
					$('#{{ certificado.title|lower }}').css('background-image','url("{{ config.MEDIA_URL }}img/servicios_fondo_licencias_no_.png")');
				});</script>
            {% endwith %}
        </div>
		{% include '_formContact.html' %}
    </div>
</div>
{% endblock main %}
