<!---ACA EMPIEZA EL FOOTER---> 
<div id="footer"> 
    <div id="contFooter"> 
        <div class="footerInfo"> 
            <p class="tituloSuperChico">Encontranos</p> 
            <p class="textoSuperChico">Bld. Manuel Avila Camcho 32 piso 7, Torre Esmeralda 3. Col. Lomas de Chapultepec, Mexico DF 11000</p> 
        </div> 
              <div class="footerInfo escribinos"> 
            <p class="tituloSuperChico">Escribenos</p> 
            <p class="textoSuperChico"><a href="mailto:te.conecta@arenas-media.com.mx">te.conecta@arenas-media.com.mx</a></p> 
        </div> 
  <div class="footerInfo llamanos"> 
            <p class="tituloSuperChico">Llamanos</p> 
            <p class="textoSuperChico">+5255 52010500</p> 
        </div> 
  <div class="footerInfo vacio"> 
            <p></p> 
        </div> 
        <div class="footerInfo logoFooter"> 
            <a href="http://www.havasmedia.com/" target="_blank"><img src="/media/img/logo_havas_media.png" width="75" height="30" alt="Havas Media" /></a> 
            <p class="textoSuperChico">© 2010 - All rights reserved</p> 
        </div> 
    </div> 
</div> 
<!---ACA TERMINA EL FOOTER---> 

