
<!---ACA EMPIEZA EL HEADER---> 
<div id="header">
    	<a href="/"><img src="../media/img/logo_arenamedia.png" width="232" height="91" alt="Arenas Media" class="logoHome"/></a>
        <div id="botonera">
        	<ul>
            	<li class="boton nosotros"><a href="/nosotros" alt="People" title="Nosotros">Nosotros</a></li>
                <li>|</li>
                <li class="boton clientes"><a href="/clientes" alt="Passion" title="Clientes">Clientes</a></li>
                <li>|</li>
                <li class="boton servicios actual"><a href="/servicios" alt="Performances" title="Servicios">Servicios</a></li>
                <li>|</li>
                <li class="boton"><a href="/contacto" alt="Contacto" title="Contacto"> Contacto</a></li>
             </ul>
        </div>
   	</div>
<!---ACA TERMINA EL HEADER---> 
