{% block javascript %}
	<script src="/media/js/jquery.slidingGallery-1.2.min.js" type="text/javascript" language="javascript" charset="utf-8" /></script>
	<script type="text/javascript" language="javascript" charset="utf-8">
	// <![CDATA[
		$(function() {
			$('div.gallery img').slidingGallery();
		});
	// ]]>
	</script>
{% endblock %}
		<div class="gallery">
			<img src="/media/img/home1.jpg" />
			<img src="/media/img/home2.jpg" class="start"  />
			<img src="/media/img/home3.jpg" />
		</div>
			
			<div class="cajaFoto"> 
				<div id="carousel1">
					<div class="contentTextoFoto"> 
						<p class="tituloGrandeHome">PASSION</p>
						<p>
							<span class="bajadaGrandeHome">ESTAMOS FASCINADOS POR LOS MEDIOS Y POR LA COMPRENSIÓN PRECISA ACERCA DE LO QUE LOS CONSUMIDORES QUIEREN Y LAS MARCAS NECESITAN. EVALUAMOS CONSTANTEMENTE LOS PUNTOS EN LOS QUE AMBOS SE PUEDEN ENCONTRAR EFECTIVAMENTE. <a href="/clientes" class="linkGaleria">DESCUBRENOS</a></span></p> 
					</div> 
				</div>

			</div> 
