<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Servicios</title>
</head>

<!---ACA EMPIEZA EL BLOKE SOLUCIONES ARENA--->
<div id="blokSoluciones" class="colTriple">
    <div class="contTitulo"><h2><span>Soluciones Arena</span></h2></div>
    <div class="colDoble colDobleIzq">
        <p class="textoGeneral">
        Metodología basada  100% en el consumidorCCM (Consumer Centric Methodology). Metodología integral de planeación que se centra en el consumidor y cuyo objetivo final es lograr beneficios cuantitativos y cualitativos en el desarrollo de la estrategia de medios.
Planeación estratégica basada en objetivos de cada marca con base en necesidades de comunicación Distribución de presupuestos entre mercados y marcas, Distribución óptima de inversión entre canales de comunicación, Calendarización semanal de planes multimedia y multi-objetivos, Predicción de</p>
    </div>
    <div class="colDoble">
        <p class="textoGeneral">
        Metodología basada  100% en el consumidorCCM (Consumer Centric Methodology). Metodología integral de planeación que se centra en el consumidor y cuyo objetivo final es lograr beneficios cuantitativos y cualitativos en el desarrollo de la estrategia de medios.
Planeación estratégica basada en objetivos de cada marca con base en necesidades de comunicación Distribución de presupuestos entre mercados y marcas, Distribución óptima de inversión entre canales de comunicación, Calendarización semanal de planes multimedia y multi-objetivos, Predicción de</p>
    </div>
    
</div>
<!---ACA TERMINA EL BLOKE SOLUCIONES ARENA --->
<!---ACA EMPIEZA EL BLOKE  DESARROLLOS ARENA--->
<div id="blokSoluciones" class="colTriple">
    <div class="contTitulo"><h2><span>Desarrollos Arena</span></h2></div>
    <div class="entradaColTripleDestacado">
        <div class="contEntradaDesarrollosDestacado">
                <p class="notaTituloDestacado">titulo de la nota 2</p>
                <p class="notaBajadaDestacado">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi...</p>
                <p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
            </div>
            <img src="../media/img/imgTamanio1.jpg" width="425" height="200" class="imgEntradas imgDesarrolloDestacado"/>
    </div>
    <div class="entradaColTriple">
        <img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas imgDesarrollo"/>
            <div class="contEntradaDesarrollos">
                <p class="notaTituloDestacado">titulo de la nota 2</p>
                <p class="notaBajadaDestacado">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi...</p>
                <p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
            </div>
    </div>
    <div class="entradaColTriple">
        <img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas imgDesarrollo"/>
            <div class="contEntradaDesarrollos">
                <p class="notaTituloDestacado">titulo de la nota 2</p>
                <p class="notaBajadaDestacado">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi...</p>
                <p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
            </div>
    </div>
</div>
<!---ACA TERMINA EL BLOKE DESARROLLOS ARENA--->
<!---ACA EMPIEZA EL BLOKE ALCANCE ARENA--->
<div id="blokSoluciones" class="colTriple">
    <div class="contTitulo"><h2><span>Alcances Arena</span></h2></div>
    <div class="colDoble colDobleIzq">
        <p class="textoGeneral">
        Metodología basada  100% en el consumidorCCM (Consumer Centric Methodology). Metodología integral de planeación que se centra en el consumidor y cuyo objetivo final es lograr beneficios cuantitativos y cualitativos en el desarrollo de la estrategia de medios.
Planeación estratégica basada en objetivos de cada marca con base en necesidades de comunicación Distribución de presupuestos entre mercados y marcas, Distribución óptima de inversión entre canales de comunicación, Calendarización semanal de planes multimedia y multi-objetivos, Predicción de</p>
    </div>
    <div class="colDoble">
        <p class="textoGeneral">
        Metodología basada  100% en el consumidorCCM (Consumer Centric Methodology). Metodología integral de planeación que se centra en el consumidor y cuyo objetivo final es lograr beneficios cuantitativos y cualitativos en el desarrollo de la estrategia de medios.
Planeación estratégica basada en objetivos de cada marca con base en necesidades de comunicación Distribución de presupuestos entre mercados y marcas, Distribución óptima de inversión entre canales de comunicación, Calendarización semanal de planes multimedia y multi-objetivos, Predicción de</p>
    </div>
    
</div>
<!---ACA TERMINA EL BLOKE ALCANCE ARENA --->
<body>
</body>
</html>
