<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<!---ACA EMPIEZA EL BLOKE CLIENTES--->
        <div id="blokClientes" class="colTriple">
        	<div class="contTitulo"><h2><span>Nuestros Clientes:</span></h2></div>
       		<img src="../media/img/borrar_clientes.png" width="849" height="136" style="margin: 25px 0px 50px 50px;"/>
        	
        </div>
        <!---ACA TERMINA EL BLOKE CLIENTES--->
        <!---ACA EMPIEZA EL BLOKE Casos de exitos y pasión--->
        <div id="blokCasosExito" class="colTriple">
			<div class="contTitulo"><h2><span>Casos de exitos y pasión</span></h2></div>
            <div class="entradaColDoble">
				<img src="../media/img/imgTamanio1.jpg" width="425" height="150" class="imgEntradas"/>
				<p class="notaTituloDestacado">titulo de la nota 1</p>
                <p class="notaBajadaDestacado">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis s suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
                <p class="btnContinuar">CONTINUAR <img src="../media/img/flechaAdelante.png" width="11" height="11" at="CONTINUAR LEYENDO"/></p>
			</div>
          
			<div class="entradaColSimple">
                <img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
                <p class="notaTitulo">titulo de la nota 2</p>
                <p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
                <p class="btnContinuar">CONTINUAR <img src="../media/img/flechaAdelante.png" width="11" height="11" at="CONTINUAR LEYENDO"/></p>
			</div>
          
			<div class="entradaColSimple">
				<img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
				<p class="notaTitulo">titulo de la nota 3</p>
				<p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
				<p class="btnContinuar">CONTINUAR <img src="../media/img/flechaAdelante.png" width="11" height="11" at="CONTINUAR LEYENDO"/></p>
			</div>
            
        </div>
        <!---ACA TERMINA EL BLOKE Casos de exitos y pasión--->
        <!---ACA EMPIEZA EL BLOKE Te contactamos Arenas Media--->
        <div id="blokCasosExito" class="colTriple">
			<div class="contTitulo"><h2><span>Te contactamos Arenas Media</span></h2></div>
			<div class="entradaColSimple">
                <img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
                <p class="notaTitulo">titulo de la nota 2</p>
                <p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
                <p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
			</div>
          
			<div class="entradaColSimple">
				<img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
				<p class="notaTitulo">titulo de la nota 3</p>
				<p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
				<p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
			</div>
          
			<div class="entradaColSimple">
                <img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
                <p class="notaTitulo">titulo de la nota 2</p>
                <p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
                <p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
			</div>
          
			<div class="entradaColSimple">
				<img src="../media/img/imgTamanio2.jpg" width="200" height="150" class="imgEntradas"/>
				<p class="notaTitulo">titulo de la nota 3</p>
				<p class="notaBajada">Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis...</p>
				<p class="btnContinuar">DESCARGAR <img src="../media/img/flechaAbajo.png" width="11" height="11" at="DESCARGAR ARCHIVO"/></p>
			</div>
            
        </div>
        <!---ACA TERMINA EL BLOKE Te contactamos Arenas Media--->

<body>
</body>
</html>
