{% extends 'djblog/base.html' %}
{% load getblog %}

{% block title %}Siqat : Novedades{% endblock %}

{% block headerclass %}headerNovedades{% endblock %}

{% block javascript %}
	{{ block.super }}
{% endblock %}

{% block premain %}{% endblock %}

{% block titulo-seccion %}Novedades{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/page/quienes-somos">Qui&eacute;nes somos</a></li>
        <li><a href="/servicios/certificaciones">Servicios</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li class="seccionActual">Novedades</li>
        <li><a href="/contact">Contacto</a></li>
     </ul>
{% endblock navbar %}


{% block footer-nav %}
	<li><a href="/">Home</a></li>
	<li><a href="/page/quienes-somos">Qui&eacute;nes somos</a></li>
	<li><a href="/servicios/certificaciones">Servicios</a></li>
	<li><a href="/blog">Blog</a></li>
	<li class="seccionActual">Novedades</li>
	<li><a href="/contact">Contacto</a></li>
{% endblock %}

{% block content %}

{% if object_list %}
				{% for post in object_list %}
		            <div class="postListado">
		                <p class="blogFechaPost">{% with post.publication_date as date %}{{ date|date:"j" }} de {{ date|date:"F, Y" }}{% endwith %}</p>

		                <p class="blogTituloPost"><a href="{{ SITE_URL }}{{ post.get_absolute_url }}" class="linkTituloPost">{{ post.title }}</a></p>
						{% with post.get_first_image as media %}
						{% if media.content %}
							<img src="{{ media.content.url }}" width="273" height="167" alt="Hierro" class="imgListadoBlog" title="{{ media.title }}" alt="{{ media.description }}"/>
						{% else %}
							<img src="{{ config.MEDIA_URL }}img/default.jpg" width="273" height="167" alt="Hierro" class="imgListadoBlog"/>
	
						{% endif %}

						{% endwith %}

		                <div class="textoListado">
		                    <div class="blogLinkSocialesListado">

								<div class="linkTws" style="float:left;">
								<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://siqat.arkad1a.com.ar/{{ post.get_absolute_url }}" 
									data-count="horizontal" data-via="siqat">Tweet</a>
								<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
								</div>

								<iframe src="http://www.facebook.com/plugins/like.php?href=http://siqat.arkad1a.com.ar/{{ post.get_absolute_url }}&amp;layout=button_count&amp;show_faces=false&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=21" 
									scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>

		                    </div>
							<div class="blogTextoPost">
								{{ post.preview_content|safe }}
							</div>
		                    <p class="blogLinksPost">
								<a href="{{ post.get_absolute_url }}" class="linkRelPost">Leer m&aacute;s <img src="{{ config.MEDIA_URL }}img/blog_flecha_leermas.png" width="7" height="12" alt="Leer Mas" class="imgLeermas"/></a><br>
								{% if post.get_media_content %}
									{% for media in post.get_media_content %}
									<a href="{{ media.content.url }}" class="linkRelPost">Descargar <img src="{{ config.MEDIA_URL }}img/blog_flecha_leermas.png" width="7" height="12" alt="Leer Mas" class="imgLeermas"/></a>
									{% endfor %}
								{% endif %}
							</p> 
		                    
		                </div>
		    		</div>
				{% endfor %}
{% else %}
	o0o0oo0o
{% endif %}

<script>
        {% if search_q %}
        $('.post').highlight("{{ search_q }}");
        {% endif %}
</script>

{% include '_paginator.html' %}

{% endblock %}
